a.highlight2 {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
  }
  
  a.highlight2:hover {
    background-color: #FFE66D;
    color: #383838;
    text-shadow: none;
  