* {
  font-family: 'Inter', Helvetica, sans-serif;
  color: #383838;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

p {
  letter-spacing: 0.015rem;
  line-height: 1.8rem;
}

ul li, ol li {
  letter-spacing: 0.015rem;
}

a {
  color: #6CA6C1;
}

a:hover {
  text-decoration: none;
  color: #4e75a8;

}

.bg-lightblue {
  background-color: #f7faff !important;
}

.bg-slightlylightblue {
  background-color: #dde8f8 !important;
}

.bg-lightteal {
  background-color: #eaf3f7 !important;
}

.bg-lightpeach {
  background-color: #FFF7F5 !important;
}

.bg-lightpink {
  background-color: #fff7fb !important;
}

.bg-lightyellow {
  background-color: #fdfbf1 !important;
}

/* navbar */

.navbar {
  min-height: 80px;
}

.navbar-brand {
  margin-left: 30px;
  font-weight: 200;
  color: #383838;
}

.navbar-toggler {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0;
  margin-right: 20px;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color:#adadad;
}

.navbar-nav {
  margin-right: 20px;
  font-size: 120%;
}

.navbar-light .navbar-nav .nav-link {
  color: #383838;
  font-size: 80%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* nav - active page */

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
color: rgba(0, 0, 0, 0.9);
font-weight: 500;
}

/* nav - link hover */

.navbar-light .navbar-nav .nav-link.link1:hover, .navbar-light .navbar-nav .nav-link.link1:focus {
  color: #EDBBB4;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.link2:hover, .navbar-light .navbar-nav .nav-link.link2:focus {
  color: #6CA6C1;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.link3:hover, .navbar-light .navbar-nav .nav-link.link3:focus {
  color: #47a38f;
  font-weight: 500;
}


/* first fold */

h1.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}

.outline {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}

a.highlight0 {
  display: inline-block;
  color: #c5e7f5;
  background-color: rgba(227,246,255,0);
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
  display: inline-block;
}

a.highlight0:hover, a.highlight0:focus {
  color: #fff;
}


a.highlight1 {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}

a.highlight1:hover, a.highlight1:focus {
  color: #EDBBB4;
}

a.highlight2 {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}

a.highlight2:hover, a.highlight2:focus {
  color: #FFE66D;
}

a.highlight3 {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000, -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}

a.highlight3:hover, a.highlight2:focus {
  color: #c5e7f5;
}

p.desc {
  color: #4c5866;
  font-weight: 300;
}

p.desc b {
  font-weight: 500;
}


/* content - featured case studies */ 

p.sectionheader {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #b5c2c9;
}

/* this class is to fix the problem of the fixed navbar covering up content when scrolling to an anchor link */

#recentwork:before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

#methods:before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

#misc:before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

a.case1 {
  text-decoration: none;
  color: #383838
}

a.case1:hover, a.case1:focus {
 color: #d1a6a0;
}

a.case2 {
  text-decoration: none;
  color: #383838
}

a.case2:hover, a.case2:focus {
 color: #6CA6C1;
}

a.case3 {
  text-decoration: none;
  color: #383838
}

a.case3:hover, a.case3:focus {
 color: #BC4B51;
}

p.tags {
  color: #7A7E8B;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 2em;
}

.imgcontainer{
  margin: 5%;
  transition: all 0.3s;
}
  
.imgcontainer:hover, .imgcontainer:focus {
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: 0 10px 25px 5px rgba(0,0,0,0.05);
}
  
img.img-fluid.case {
  border-radius: 8px;
}


  

/* button */

.button {
  margin-bottom: 10%;
}

@media only screen and (min-width: 768px) {
  .button {
  margin-top: 4em;
  margin-bottom: 2em;
  }
}

.buttonbar {
  display: inline-block;
  height: 13px;
  width: 6px;
  vertical-align: middle;
  border-left: 6px solid #383838;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.buttontext {
  text-transform: lowercase;
  color: #383838;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.09rem;
  margin-left: 15px;
  vertical-align: middle;
}

.button a:hover .button a:focus {
  color: #383838;
  opacity: 1;
  text-decoration: none;
}

.button a:hover .buttonbar, .button a:focus .buttonbar {
  border-left: 14px solid #509B95;
}

/* case studies */

h2.hero {
  font-weight: 700;
}

.imgcontainer__hero {
  margin: 10%;
}

.desc__hero {
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
  color: #7a7e8b;
}

.hmw {
  line-height: 1.6rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
  color: #383838;
}

.client {
  color: #969696;
}

.caption {
  color: #969696;
  text-align: center;
  font-size: 0.9rem;
}

/* NDA */

.nda {
  border-style: solid;
  border-width: 1px;
  border-color: #acacac;
  color: #acacac;
  font-weight: 500;
  padding: 1em;
  margin: 3em;
  width: fit-content;
}

/* footer */

footer p {
  color: #888888;
  font-weight: 400;

}

a.email {
  color: #4e75a8;
  font-weight: 500;
}

a.email:hover, a.email:focus {
  color: #6CA6C1;
}

/* image gallery */

.gallery-item {
  position: relative;
}

.gallery-thumb {
  display: block;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(255,255,255,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: ease-in 0.3s;
}

.gallery-overlay-blur {
  backdrop-filter: blur(1px);
}

.gallery-overlay:hover {
  opacity: 1;
  transition: ease-in 0.3s;
  cursor: url('/images/cursor-bobthedino.cur'), auto;
}

.gallery-overlay-header {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0em 0.5em;
}

.gallery-overlay-text {
  color: #727272;
  font-size: 0.9rem;
  text-align: center;
  padding: 0em 1em;
}

/* offset textboxes */

.experimental-img{
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .experimental-img {
  margin-bottom: 30%;
  }
}

.box1 {
  position: relative;
  left: -100px;
  height:100px;
  width: 150px;
  background-color: #FFE66D;
  z-index: 1;

}

.textbox-right {
  position: relative;
  display: block;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 3em;
  font-size: x-large;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .textbox-right {
  margin-left: -100px;
  }
}

@media only screen and (min-width: 1200px) {
  .textbox-right {
  font-size: xx-large;
  }
}

.textbox-bottomright {
  position: relative;
  display: block;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 3em;
  font-size: x-large;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .textbox-bottomright {
  margin-left: -100px;
  margin-top: 180px;
  }
}

@media only screen and (min-width: 1200px) {
  .textbox-bottomright {
  font-size: xx-large;
  }
}

.textbox-left {
  position: relative;
  display: block;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 3em;
  font-size: x-large;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .textbox-left {
  margin-right: -100px;
  }
}

@media only screen and (min-width: 1200px) {
  .textbox-left {
  font-size: xx-large;
  }
}

.textbox-centerleft {
  position: relative;
  display: block;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 3em;
  font-size: x-large;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .textbox-centerleft {
  margin-right: -100px;
  margin-top: 100px
  }
}


@media only screen and (min-width: 1200px) {
  .textbox-centerleft {
  font-size: xx-large;
  }
}
